    <label>Select sport</label>
    
      <mat-form-field appearance="fill">
        <!-- <mat-label>Select sport</mat-label> -->
        <mat-select [formControl]="sportControl" required>
          <mat-option *ngFor="let sport of lista" [value]="sport">
            {{sport.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="sportControl.hasError('required')">Please choose a sport</mat-error>
        <mat-hint>
          {{search(sportControl.value)}}
        <!-- <cdk-virtual-scroll-viewport itemSize="50" class="viewport"> -->
          <!-- <mat-accordion> -->
            <!-- <ng-container *cdkVirtualFor="let match of matches$"> -->

          <app-card-match  *ngFor="let match of matches$ | async" 
            [matchId]= match.id [dateStart]=match.dateStart [dateEnd]=match.dateEnd>
          </app-card-match>

          <!-- </ng-container> -->
        <!-- </mat-accordion> -->
      <!-- </cdk-virtual-scroll-viewport> -->

      </mat-hint>
      </mat-form-field>
