<div class="col-md-12">
  <div class="row">
    <div class="col-md-2">
      <label>Select sport</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Select sport</mat-label>
        <mat-select [formControl]="sportControl" required>
          <mat-option *ngFor="let sport of lista" [value]="sport">
            {{sport.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <button mat-raised-button  class="btn btn-light-success" color="primary" (click)=search() >Search</button>
  </div>
</div>

<div class="col-md-12">
  <br>
  <app-card-match  *ngFor="let match of matches" [matchId]=match.id [numPlayer]="sportControl.value.numberPlayers/2">
  </app-card-match>

  <div class="alert alert-warning" *ngIf="matches.length===0">
    No matches found
  </div>
</div>



