<div class="row">
  <div class="col-lg-12">
    <!-- ==================================-->
    <!-- ======= General Button ===== -->
    <!-- ==================================-->
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">General Buttons</h4>
      </div>
      <div class="card-body border-top">
        <h6 class="card-subtitle fw-normal mb-3">
          Use a classes <code>btn btn-success</code> to quickly create a General
          btn.
        </h6>
        <div class="button-group">
          <button
            type="button"
            *ngFor="let buttondata of buttonsdata"
            class="btn btn-{{ buttondata.btn }}"
          >
            {{ buttondata.btn }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- ======= Outline Button ===== -->
  <!-- ==================================-->
  <div class="col-lg-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Button with outline</h4>
      </div>
      <div class="card-body border-top">
        <h6 class="card-subtitle fw-normal mb-3">
          Use a classes <code>btn btn-outline-success</code> to quickly create a
          General btn.
        </h6>
        <div class="button-group">
          <button
            type="button"
            *ngFor="let buttondata of buttonsdata"
            class="btn btn-outline-{{ buttondata.btn }}"
          >
            {{ buttondata.btn }}
          </button>
        </div>
      </div>
    </div>
  </div>
