/* *{
    margin-bottom: 2px;
    width: 90%;
    
} */


  button {
      
    min-width: 200px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #bcd8c1;
    width: 20%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
    margin-top: 1rem;
  }

  .verticalLine {
    border-left: thick solid #ff0000;
  }