  <mat-card class="card">
    <mat-card-header class="header">
      <div mat-card-avatar ></div>
      <mat-card-title>Match</mat-card-title>
      <mat-card-subtitle>Date: {{match.dateStart | date:"HH:mm dd/M/yyyy"}}
      
        <br>
        <!-- Duration: {{match.dateStart.tick - match.dateEnd }} -->
      </mat-card-subtitle>
    
    </mat-card-header>
    <div class="offset-md-1">
      <!-- <app-players [players]=playersTeam1 [title]="'Team 1'" [numPlayer]=numPlayer></app-players>

      <app-players [players]=playersTeam2  [title]="'Team 2'"[numPlayer]=numPlayer></app-players> -->
      <app-players [title]="'Team 1'" [numPlayer]=numPlayer [team]="1" [matchId]=matchId></app-players>

      <app-players [title]="'Team 2'"[numPlayer]=numPlayer [team]="2" [matchId]=matchId></app-players>

        <h4 class="card-title">Score: </h4>
        
        <!-- <h4 class="card-title">Confirmations: {{totalConfirmation}}</h4> -->
    </div>

    <button mat-raised-button  class="btn btn-light-success" color="primary" (click)=goToDetail() >Detail</button>

  </mat-card>
