<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        <strong>{{ currentUser.username }}</strong> Profile
      </h3>
    </header>
    <p>
      <strong>id:</strong>
      {{ currentUser.id }} 
    </p>
    <p>
      <strong>Name:</strong>
      {{ currentUser.name }}
    </p>
    <p>
      <strong>LastName:</strong>
      {{ currentUser.lastName }}
    </p>
    <p>
      <strong>Role:</strong>
      {{ currentUser.role }}
    </p>
    <!-- <strong>Role:</strong>
    <ul>
      <li *ngFor="let role of currentUser.role">
        {{ role }}
      </li>
    </ul> -->

     <label for="hero-name">Total matches: </label> 
    <!--<input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>-->


    <label for="hero-name">Total friends: </label>
    <!-- <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/> -->
  </div>
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>